.nav-ul li{
  display: inline-block;
  padding: 10px;
}
ul.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.footer{
  position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: skyblue;
}
.signup-box {
  margin-left: 30%;
}
.login-box{
  margin-left: 30%;

}
input.input-box {
  display: block;
  margin: 25px;
  padding: 8px;
  width: 300px;
  border: 1px solid skyblue;
}
button.signup-btn {
  margin: 25px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
button.login-btn{
  margin: 25px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
.nav-right{
  text-align: right;
}
img.logo {
  width: 88px;
  float: left;
  margin-top: 8px;
  margin-left: 20px;
}
.product-container{
  margin-left: 30%;
}
button.add-product-btn {
  margin: 25px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
span.invalid-input {
  margin-left: 26px;
  margin-top: -20px;
  color: red;
  display: block;
}
.product-list {
  text-align: center;
  margin-top: 50px;
}

.product-list ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.product-list ul{
  margin: 0;
}
.products-header{
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
